*{
    /* border: 1px solid rgb(162, 162, 162); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("lute-ozbbUNY4a5s-unsplash.jpg");
    /* backdrop-filter: blur(0px) brightness(75%) contrast(95%); */
    background-size: cover;
    /* border: 2px solid red; */
}

div.wrapper {
    /* background: purple; */
    /* width: 420px; */
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow:0 0 10px rgb(0, 0, 0, .3) ;
    margin: 40px;
    background-color: rgba(40, 40, 40, 0.15);
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

div.sideimage{
    background-image: url("wallhaven-yxev57.jpg");
    background-size: cover;
    background-position: 60%;
    /* border: 4px solid red; */
    width:11rem;
    height:21rem;
    border: 0;
    border-radius: 12px 0 0 12px;
    margin: -12px 0 -12px -15px;
}

div.info{
    /* border: 4px solid greenyellow; */
    padding-left: 1rem;
}


.box1 h1{
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}
.box1 section{
    font-size: .8rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.buttonss{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
.btn{
    background-color: rgba(144, 144, 144, 0.2);   
}


.wrapper .box2 {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: salmon; */
    margin: 30px 0;
    /* border-radius: 40px; */
    /* border: 2px solid red; */
}
.box2 input {
    width: 100%;
    height: 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 1.2px solid #ffffff70;
    border-radius: 20px;
    background-color: #ffffff15;
    color: white;
    padding: 15px 45px 15px 20px;
    margin-top: 7px;
    font-size: small;
}
.input-box input::placeholder {
    color: #ffffff90;
    font-size: 14px;
}

.bx-user {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 17px;
}
.bx-lock-alt {
    position: absolute;
    right: 10px;
    top: 52.5px;
    font-size: 17px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
    font-size: 12px; 
}

.wrapper .remember-forgot input {
    position: relative;
    top: 1.5px;
}
.wrapper .btnss {
    /* position: relative;
    left: 50%; */
    
    width: 80px;
    height: 36px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin: auto;
    padding: 0px;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    border: 0;
    /* text-shadow: 0px 0px 5px #00000050; */
    transition: transform .2s;
    background: linear-gradient(90deg, #04aedd 0%, #88b4ce 100%);
}

.wrapper .btnss:hover {
    transform: scale(1.1);
}

/* blue circle */

div.circle1{
    width: 100px;
    height: 100px;
    background-color: #8bcbff60;
    /* background-image: url("hakan-nural-XiaiPMd1cTY-unsplash.jpg"); */
    background-size: cover;
    border: 1px solid #ffffff20;
    border-radius: 100%;
    position: relative;
    top: -140px;
    right: -530px;
    backdrop-filter: blur(2px);
}


/* blue circle ends */

/* animated stuff, not mine!!, stolen from: https://codepen.io/jspilka95/pen/vYXXWOE */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(140, 249, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* animated stuff ends */

